.coverDiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.558);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalDiv {
  background-color: rgba(34, 34, 34, 0.841);
  border-radius: 5px;
  padding: 5%;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonContainer button {
  padding-block: 2%;
  padding-inline: 4%;
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}
.confirmButton {
  border: 1px solid rgb(147, 147, 255);
  margin-right: 2%;
  transition: box-shadow 0.1s ease-in-out;
}
.confirmButton:hover,
.confirmButton:focus {
  border: 1px solid rgb(176, 176, 255);
  box-shadow: 0px 0px 5px 1px rgb(176, 176, 255);
}
.cancelButton {
  border: 1px solid rgb(255, 82, 82);
  margin-left: 2%;
  transition: box-shadow 0.1s ease-in-out;
}
.cancelButton:hover,
.cancelButton:focus {
  border: 1px solid rgb(255, 110, 110);
  box-shadow: 0px 0px 5px 1px rgb(255, 110, 110);
}
