.backgroundDiv {
  padding-left: 5%;
  min-height: 100vh;
  width: 95%;
  background: var(--secondary-color);
  background: radial-gradient(
    circle at 90% 190%,
    var(--main-color) 0%,
    var(--secondary-color) 49%,
    var(--main-color) 70%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}
