.playlist {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
  width: 49%;
  border-radius: 5px;
  background-color: rgb(60, 60, 60);
  display: flex;
  align-items: center;
  color: rgb(188, 194, 213);
  transition: background-color 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.playlist:hover {
  background-color: rgb(65, 65, 65);
  cursor: pointer;
}
.playlistImage {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 5px 0px 0px 5px;
  margin-right: 10px;
}
