.navigation {
  width: 100%;
  height: 3vh;
  display: flex;
}
.navigationDiv:nth-child(1) {
  padding-left: 0;
}
.navigationDiv {
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  padding-inline: 1%;
  cursor: pointer;
}
.navigationDiv:hover {
  color: rgb(175, 175, 175);
}
