.register {
  min-height: 100vh;
  width: 100vw;
  background: var(--third-color);
  background: radial-gradient(
    circle at 90% 190%,
    var(--main-color) 0%,
    var(--secondary-color) 49%,
    var(--main-color) 70%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registerForm {
  position: relative;
  width: 44%;
  color: rgb(212, 212, 212);
  font-family: "Josefin Sans", sans-serif;
  background-color: rgba(34, 34, 34, 0.636);
  box-shadow: 0px 0px 20px 5px rgba(1, 19, 77, 0.373);
  margin-top: 2%;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 3%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerForm input {
  border: 1px solid rgba(255, 255, 255, 0.581);
  height: 3em;
  width: 50%;
  margin-bottom: 2%;
  padding-left: 2%;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  caret-color: rgb(212, 212, 212);
  transition: border 0.2s ease-in-out;
}
.registerForm input::placeholder {
  color: rgb(212, 212, 212);
}
.registerForm input:hover,
.loginForm input:focus {
  border: 1px solid white;
}
.inputLabel {
  width: 53%;
}
.submitButton {
  border: none;
  height: 3em;
  width: 53%;
  border-radius: 5px;
  background-color: rgb(0, 48, 145);
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  margin-bottom: 2%;
  transition: border 0.2s ease-in-out;
}
.submitButton:hover,
.submitButton:focus {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 10, 124, 0.444);
  color: rgb(229, 229, 229);
}
.googleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.googleRegister {
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 3em;
  width: 53%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.581);
  transition: font-size 0.3s ease-in-out;
}
.googleRegister:hover {
  border: 1px solid rgb(223, 223, 223);
  font-size: 85%;
}
.googleRegister img {
  height: 25px;
  aspect-ratio: 1;
}
#goBack {
  position: absolute;
  height: 32px;
  aspect-ratio: 1;
  top: 5%;
  left: 5%;
  cursor: pointer;
  fill: rgb(193, 193, 193);
  transition: fill 0.2s ease-in-out;
}
#goBack:hover {
  fill: rgb(223, 223, 223);
}
.ageDiv {
  width: 53%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.dateSelect:hover,
.dateSelect:focus,
.genderSelect:hover,
.genderSelect:focus,
.countrySelect:hover,
.countrySelect:focus,
.citySelect:hover,
.citySelect:focus {
  border: 1px solid white;
}
.dateSelect {
  padding-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.581);
  height: 3em;
  width: 30%;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  caret-color: rgb(212, 212, 212);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}
.genderSelect {
  padding-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.581);
  height: 3em;
  width: 53%;
  margin-bottom: 2%;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  caret-color: rgb(212, 212, 212);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}
.locationSelect {
  width: 53%;
  display: flex;
  justify-content: space-between;
}
.countrySelect {
  padding-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.581);
  height: 3em;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  caret-color: rgb(212, 212, 212);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}
.citySelect {
  padding-left: 2%;
  border: 1px solid rgba(255, 255, 255, 0.581);
  height: 3em;
  width: 48%;
  margin-bottom: 2%;
  border-radius: 5px;
  background-color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(212, 212, 212);
  caret-color: rgb(212, 212, 212);
  transition: border 0.2s ease-in-out;
  cursor: pointer;
}
